*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: black;
    color: #FFF;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 80px;
}
.logo img{
    width: 80px;
    height: 80px;
    color: #FFF;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;
}
.menu li a:hover{
    border-bottom: 5px solid #B28756;
    background-color: rgb(56, 49, 49);
    border-radius: 2px;
}
.button{
    display: inline-block;
    text-decoration: none;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 15px;
    font-weight: 600;
    margin-top: 20px;
    transition: all 0.2s;
}
.button:hover{
    background-color: #bb9d7a;
}
.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea{
    display: flex;
    height: 100%;
    color: #FFF;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.banner h1 span{
    color:#B28756;
}
.banner h2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    height: 15px;
    width: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0 6px;
    transition: all 0.5s;
}
.banner .pointer:hover{
    background-color: #B28756;
    cursor: pointer;
}
.telefone{
    margin: -20px auto;
}
/* Frame work para criação das sections do site   */
.default{
    padding: 50px 0;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.default .section-title{
    font-size: 23px;
}
.default .section-desc{
    font-size: 13px;
    color: rgb(150, 147, 147);
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body{
    max-width: 1140px;
    margin:auto;
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: black;
}
.default.dark{
    background-color: black;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #FFF;
}

/* Formatação das áreas específicas de cada section*/
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right{
    width: 520px;
    text-align: center;

}
.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right:1px solid #333;
    padding: 15px;
}
.section-service:first-child{
    border-left:1px solid #333;
}
.section-service h4{
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section-service img{
    width: 50px;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #EEE;
    border-radius: 25px;
    display: inline-block;
    padding: 0 20px;    
}
.section-projects--filters ul, 
.section-projects--filters li{
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
}
.section-projects--filters li{
    display: inline-block;
    padding: 20px;
    align-items: center;
    border-right: 1px solid #ccc;
    cursor: pointer;
    border-bottom: 3px solid #EEE;
}
.section-projects--filters li:hover{
    border-bottom: 3px solid #B28756;
}
.section-projects--filters li:last-child{
    border-right: none;
}
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;

}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
}
.section-projects--photoinfo h5{
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}
.bg-team{
    background-image: url(../imagens/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}
.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders{
    width: 1000vw;
    height: 100%;
}
.section-team .slide{
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #eee;
    margin-right: 20px;
    min-height: 300px;
}
.section-team .slidearea{
    display: flex;
    height: 100%;
    color: #000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer{
    height: 15px;
    width: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0 6px;
    transition: all 0.5s;
    cursor: pointer;
}
.section-team-area .pointer:hover{
    background-color: #B28756;
}
.section-team--avatar{
    width: 150px;
    height: auto;
}
.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
}
.section-team--role{
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}
.section-team--social img{
    width: 25px;
    margin: 1px;
    margin-top: 20px;
}
.section-team--social a{
    text-decoration: none;
    display: inline-flex;
}
.section-team--social a:hover{
    background-image: #B28756;
}
.section-clients{
    margin-top: 15px;
    margin: auto;
    max-width:600px ;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.section-client--avatar{
    width: 100px;
    height: auto;
    margin: auto;
}
.section-client--name{
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
}
.section-client--role{
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}
.quote img{
    margin-top: 20px;
    width: 20px;
}
.section-client--desc{
    margin-top: 10px;
    text-align: center;
    color: rgb(143, 139, 139);
}
.section-clients-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-clients-area .pointer{
    height: 15px;
    width: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0 6px;
    transition: all 0.5s;
    cursor: pointer;
}
.section-clients-area .pointer:hover{
    background-color: #B28756;
}
.company{
    border-top: 2px solid rgb(199, 193, 193);
    border-bottom: 2px solid rgb(199, 193, 193);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 150px;
}
.companys{
    padding-right: 150px;
    width: 100px;
    height: auto;
}
.companys:last-child{
    padding-right: 0px;
}
.testimonials .section-body {
    max-width:initial;
}
.section-testimonials {
    overflow:hidden;
}
.section-testimonials .sliders {
    width:1000vw;
    height:100%;
}
.section-testimonials .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section-testimonials--avatar {
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:#B28756;
}

.section-companies {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
.section-companies--area {
    display:flex;
    align-items:center;
}
.section-company {
    flex:1;
    text-align:center;
}

.section-price {
    display:flex;
}
.section-price--item {
    flex:1;
    background-color: #FFF;
    margin-right: 20px;
    padding:20px;
    text-align:center;
}
.section-price--item:last-child {
    margin-right:0;
}
.section-price--item-name {
    text-transform: uppercase;
    font-size:13px;
    font-weight:600;
}
.section-price--item-money {
    font-weight: bold;
    font-size:22px;
    margin-top:10px;
}
.section-price--item-period {
    color:#999;
    text-transform: uppercase;
    margin-bottom:20px;
}
.section-price--item-point {
    font-size:12px;
}

.premium {
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}
.premium .section-body {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
}


.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:#B28756;
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid #B28756;
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    width: 30px;
}
.section-map{
    background-image: url(../imagens/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}
.section-map--area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #000;
}

.section-map--info-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    
}
.section-map--info-item img{
    width: 30px;
    display: inline-block;
    margin-right: 15px;
}
.footer{
    padding: auto;
}
.area-footer{
    display: flex;
}
.area-footer-socialmidia-img {
    width: 30px;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    margin-right: 15px;
}
.area-footer-socialmidia-img img{
    width: 30px;
}
.area-footer-text{
    width: 400px;
    padding-left: 20px;
    font-size: 13px;
    text-align:start;
    margin: auto;
}
.area-footer-table{
    margin-left: 30px;
    background-color: #333;
    width: 240px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
 }

.area-footer-table input[type=text],
.area-footer-table textarea{
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}
.area-footer-table input[type=text]{
    padding: 10px;
}
.area-footer .button{
    margin: auto;
}














@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:80px;
        font-size:27px;
        margin-left:50px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:#B28756;
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:50%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-team {
        max-width:580px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(50% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:50%;
    }


    .section-map {
        padding-left:30px;
        padding-right:30px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }
}


@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:#B28756;
    }

    .banner h1 {
        font-size:30px;
    }
    .banner h2 {
        font-size:17px;
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    .section-aboutus--right img {
        width:100%;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:100%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-projects--filters {
        margin-left:30px;
        margin-right:30px;
    }
    .section-projects--photo {
        width:320px;
    }
    .section-projects--photoarea {
        width:300px;
        height:190px;
    }

    .section-team {
        max-width:280px;
    }

    .section-companies--area {
        flex-wrap:wrap;
    }
    .section-company {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(100% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    .section-premium--left {
        text-align:center;
        margin-bottom:30px;
    }
    .section-premium--right {
        padding-left:20px;
        padding-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:100%;
    }

    .section-share {
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .section-share--legend {
        width:100vw;
        margin:0;
        margin-bottom:30px;
        justify-content: center;
    }
    .section-share--item {
        min-width: 50%;
        max-width: 50%;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        
    }
