*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: black;
    color: #FFF;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 80px;
}
.logo img{
    width: 80px;
    height: 80px;
    color: #FFF;
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;
}
.menu li a:hover{
    border-bottom: 5px solid #B28756;
    background-color: rgb(56, 49, 49);
    border-radius: 2px;
}
.button{
    display: inline-block;
    text-decoration: none;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 15px;
    font-weight: 600;
    margin-top: 20px;
    transition: all 0.2s;
}
.button:hover{
    background-color: #bb9d7a;
}
.banner{
    height:calc(100vh - 100px);
    background-color: #333;
    background-image: url(../imagens/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders{
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea{
    display: flex;
    height: 100%;
    color: #FFF;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
.banner h1 span{
    color:#B28756;
}
.banner h2{
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    height: 15px;
    width: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0 6px;
    transition: all 0.5s;
}
.banner .pointer:hover{
    background-color: #B28756;
    cursor: pointer;
}
/* Frame work para criação das sections do site   */
.default{
    padding: 50px 0;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.default .section-title{
    font-size: 23px;
}
.default .section-desc{
    font-size: 13px;
    color: rgb(150, 147, 147);
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body{
    max-width: 1140px;
    margin:auto;
}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: black;
}
.default.dark{
    background-color: black;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #FFF;
}

/* Formatação das áreas específicas de cada section*/
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right{
    width: 520px;
    text-align: center;

}
.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right:1px solid #333;
    padding: 15px;
}
.section-service:first-child{
    border-left:1px solid #333;
}
.section-service h4{
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section-service img{
    width: 50px;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #EEE;
    border-radius: 25px;
    display: inline-block;
    padding: 0 20px;    
}
.section-projects--filters ul, 
.section-projects--filters li{
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
}
.section-projects--filters li{
    display: inline-block;
    padding: 20px;
    align-items: center;
    border-right: 1px solid #ccc;
    cursor: pointer;
    border-bottom: 3px solid #EEE;
}
.section-projects--filters li:hover{
    border-bottom: 3px solid #B28756;
}
.section-projects--filters li:last-child{
    border-right: none;
}
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;

}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
}
.section-projects--photoinfo h5{
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}
.bg-team{
    background-image: url(../imagens/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}
.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders{
    width: 1000vw;
    height: 100%;
}
.section-team .slide{
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #eee;
    margin-right: 20px;
    min-height: 300px;
}
.section-team .slidearea{
    display: flex;
    height: 100%;
    color: #000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team-area .pointer{
    height: 15px;
    width: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin: 0 6px;
    transition: all 0.5s;
    cursor: pointer;
}
.section-team-area .pointer:hover{
    background-color: #B28756;
}
.section-team--avatar{
    width: 150px;
    height: auto;
}
.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
}
.section-team--role{
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}
.section-team--social img{
    width: 25px;
    margin: 1px;
    margin-top: 20px;
}
.section-team--social a{
    text-decoration: none;
    display: inline-flex;
}
.section-team--social a:hover{
    background-image: #B28756;
}